.Advertise {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.button {
  height: 45px;
  width: 120px;
  background-color: rgb(252, 248, 4);
  border-radius: 8px;
  border-color: hsla(204, 100%, 99%, 0.904);
  font-size: 16px;
}

.Box__Top {
  display: flex;
  margin-top: 50px;
}

.Box__Top > h2 {
  margin-right: 250px;
}

.Box__center {
  width: 100%;
  margin-top: 30px;
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image {
  width: 50%;
  height: 600px;
  border: 1px solid rgb(212, 204, 204);
  flex-direction: column;
  flex-direction: row;
  border-radius: 8px;
  flex: 0.5;
}

.list {
  display: flex;
  flex: 0.5;
  border: 1px solid rgb(212, 204, 204);
  border-radius: 8px;
  height: 600px;
  width: 100%;
  overflow-y: scroll;
}

.image > h2 {
  margin-left: 70px;
}

.icon__Calender.MuiSvgIcon-root {
  padding-left: 30px;
  width: 50px;
  height: 50px;
  color: rgb(226, 250, 9);
}

.test__icon.MuiSvgIcon-root {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  color: rgb(226, 250, 9);
}

/* วิดีโอ */
.Box__below {
  display: flex;
  margin-top: 70px;
}

.Select {
  display: flex;
  align-items: center;
  gap: 15px;
}

.test__icon__below.MuiSvgIcon-root {
  width: 50px;
  height: 50px;
  color: rgb(246, 250, 9);
}

.filter__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}

.filter__title {
  display: flex;
  gap: 20px;
}

.container__top {
  display: flex;
  height: 50%;
}
.container__left {
  flex: 0.5;
  width: 100%;
  height: 100%;
}
.container__right {
  flex: 0.5;
  width: 100%;
  height: 100%;
}
