.Video {
  border-radius: 8px;
  border:1px solid rgb(198, 202, 202)
}

.Video > img {
  border-radius: 8px;
  width: 300px;
  height: 300px;
}

.Video > h3 {
  margin-left: 10px;
}
.Video > p {
  margin-left: 10px;
}