.Video {
  border-radius: 8px;
  border: 1px solid rgb(198, 202, 202);
}

.Video > img {
  border-radius: 8px;
  width: 100%;
  height: 300px;
}

.Video > h3 {
  margin-left: 10px;
}
.Video > p {
  margin-left: 10px;
}

.star {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  justify-content: space-between;
}

.poit {
  display: flex;
}

.star .MuiSvgIcon-root {
  color: rgb(226, 250, 9);
}
.shar .MuiSvgIcon-root {
  margin-right: 10px;
  color: rgb(226, 250, 9);
}
