.VideoCard {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  margin-left: 0px;

}

.Card {
  display: flex;
}

.Caed__low {
  display: flex;
}

.Card_1 {
  display: flex;
  margin-top: 50px;
  margin-left: 35px;
}

.Card_01 {
  display: flex;
  margin-top: 50px;
}


.Card_2 {
  display: flex;
  margin-left: 35px;
  
}

