.Video {
  background-color: aqua;
  border-radius: 8px;
  height: 450px;
  width: 350px;
}

.Video > h3 {
  margin-left: 10px;
}

.Video > p {
  align-items: center;
  margin-left: 10px;
}
.Video img {
  border-radius: 8px;
  height: 250px;
  width: 350px;
}