.VideoCard {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(238, 247, 247); */

}

.Card {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 90px;
  grid-auto-rows: minmax(10px, auto);
}

